@page
@model busefindik.com.Pages.Admin.Contact.IndexModel
@{
}



<br />
<h2>Received Messages</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Adı</th>
            <th>Email</th>
            <th>Telefonu</th>
            <th>Konu</th>
            <th>Tarih</th>
            <th>Action</th>
        </tr>
    </thead>

    @if (Model.listMessages.Count == 0)
    {
        <h1 class="alert">Veritabanında Mesaj Yok veya Bir Hata oluştu</h1>
    }


    <tbody>
        @foreach (var item in Model.listMessages)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.FullName</td>
                <td>@item.Email</td>
                <td>@item.Phone</td>
                <td>@item.Subject</td>
                <td>@item.CreatedAt</td>
                <td style="white-space:nowrap">
                    <a class="btn btn-primary btn-sm" href="/Admin/Contact/Details?id=@item.Id">Detay</a>
                    <a class="btn btn-danger btn-sm" href="/Admin/Contact/Delete?id=@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>



@if (Model.totalPages < 10)
{
    <nav>
        <ul class="pagination">
            @for (int i = 1; i <= Model.totalPages; i++)
            {
                <li class="page-item"><a class="page-link" href="?page=@i">@i</a></li>
            }
        </ul>
    </nav>
}
else
{
    <form>
        <label>Page</label>
        <select name="page" onchange="this.form.submit()">
            @for (int i = 1; i <= Model.totalPages; i++)
            {
                @if (i == Model.page)
                {
                    <option value="@i" selected>@i</option>
                }
                else
                {
                    <option value="@i">@i</option>
                }
            }
        </select>
    </form>
            }
